body{
    font-family: 'Roboto', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
*{
    margin: 0;
    padding: 0;
    outline:none;
    text-decoration: none;
    list-style-position: inside;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
input[type='text'], input[type='email'], input[type='tel'], input[type='password'], textarea{-webkit-appearance: none;}
input[type='submit'], button{cursor: pointer; -webkit-appearance: none;}
a{text-decoration: none !important; outline: none !important; color: #cb2322;}
a:hover{color: #cb2322;}
a img{border: none;}
.clr{clear: both;}
.fleft{float: left;}
.fright{float: right;}
.view-menu, .view-sub-menu, .view-search, .view-cart{display: none;}
::-webkit-input-placeholder{font-size: 12px; color:#000 !important;}
::-moz-placeholder{font-size: 12px; color:#000 !important;}
:-ms-input-placeholder{font-size: 12px; color:#000 !important;}
input:-moz-placeholder{font-size: 12px; color:#000 !important;}
.button{
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    cursor: pointer;
    background: #cb2322;
    color: #fff !important;
    text-align: center;
}
.button:hover{
    background: #00527c;
}
.zing-content img{
    max-width: 100%;
    height: auto;
}
.zing-content iframe{
    max-width: 100% !important;
}
.zing-content table{
    width: 100%;
    margin: 0 0 15px 0;
}
.zing-content td{
    padding: 6px 10px;
    border: 1px solid #ddd;
}
.zing-required{
    color: red;
    font-weight: bold;
}
.mark{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    display: inline-block;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    opacity:0;
    visibility: hidden;
}
.contact-success{
    margin-bottom: 10px;
    width: 100%;
    color: green;
    font-weight: bold;
}
.contact-error{
    margin-bottom: 10px;
    width: 100%;
    color: red;
    font-weight: bold;
}
.media-box{
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    display: flex;
}
.media-image{
    margin-right: 10px;
}
.media-content{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #000;
    background: #f4f4f4;
}
body p{
    line-height: 1.5;
    margin-bottom: 15px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    line-height: 1.3;
    margin: 0 0 15px 0;
}
.owl-theme .owl-controls{
    margin: 0;
    line-height: 0;
}
/* breadcrumb */
.breadcrumb-box{
    background: #fff;
    padding: 10px 0;
}
.breadcrumb-box ul{
    background: none;
    padding: 0;
}
.breadcrumb-box li{
    float: left;
}
.breadcrumb-box li a{
    font-size: 13px;
    color: #000;
    text-decoration: none;
}
.breadcrumb-box li a:after{
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    background: url(../images/next-bcrum.png) no-repeat;
    margin: 0px 6px;
}
.breadcrumb-box li:last-child a:after{
    display: none;
}
.breadcrumb>li+li:before{
    display: none;
}
/* end breadcrumb */
/* pagination */
.pagination{
    width:100%;
    margin: 10px 0 0 0;
    text-align: center;
}
.pagination a, .pagination span{
    display: inline-block;
    min-width:30px;
    height:30px;
    margin: 0 2px;
    padding:0px 9px;
    line-height:30px;
    background:#fff;
    font-size:13px;
    color:#000;
    text-align:center;
    cursor:pointer;
}
.pagination a:hover{
    color: #fff;
    background:#ff0000;
}
.pagination span{
    color: #fff;
    background:#ff0000;
}
/* end pagination */
/* search suggets */
.suggest-box {
    float: left;
    clear: both;
    position: absolute;
    z-index: 9999;
    background-color: #eee;
    left: 0;
    top: 36px;
    display: none;
}
.suggest-item {
    width: 375px;
    float: left;
    clear: both;
    border-bottom: dashed 1px #ccc;
    padding: 10px;
    box-sizing: border-box;
}
.suggest-item img {
    float: left;
    margin-right: 10px;
    border: solid 1px #ccc;
    padding: 5px;
    background-color: #fff;
}
.suggest-item h2 {
    font-size: 12px;
    font-weight: bold;
    font-family: arial;
    text-decoration: none;
    margin: 0px;
    line-height: 1.5;
}
.suggest-item h2 a {
    text-decoration: none;
    color: #0574BB;
}
.suggest-price {
    font-weight: bold;
    color: red;
    margin-top: 5px;
    font-size: 14px;
    display: block;
}
.search-empty{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #555;
}
/* search suggets */
/* contact-from */
.form-group{
    margin-bottom: 15px;
}
.form-left{
    width: 50%;
    float: left;
    padding-right: 10px;
}
.form-right{
    width: 50%;
    float: right;
    padding-left: 10px;
}
.contact-form .group-3{
    margin: 0 -15px;
}
.contact-form .group-3 .col-3{
    padding: 0 15px;
}
.contact-form .form-control{
    height: 31px;
    border-radius: 0;
    border: 1px solid #ddd;
    color:#555;
}
.contact-form select::-ms-expand{
    display: none;
}
.contact-form select{
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background:url(../images/icon-select.png) no-repeat right 10px center #fff;
}
.contact-form textarea.form-control{
    height: 180px;
}
.contact-form label{
    font-weight: normal;
}
.contact-form ::-webkit-input-placeholder { color:#2a2b2c !important; font-size: 14px; font-style: italic;}
.contact-form ::-moz-placeholder { color:#2a2b2c !important; font-size: 14px; font-style: italic;} 
.contact-form :-ms-input-placeholder { color:#2a2b2c !important; font-size: 14px; font-style: italic;} 
.contact-form input:-moz-placeholder { color:#2a2b2c !important; font-size: 14px; font-style: italic;}
.form-message{
    padding-right: 120px;
    position: relative;
}
.send-message{
    width: 100px;
    height: 30px;
    line-height: 32px;
    background: #d72523;
    color: #fff;
    border: none;
    outline: none;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.send-message:hover{
    background: #a20200;
}
.btn-reset{
    width: 100px;
    height: 30px;
    line-height: 32px;
    background: #c1c1c1;
    color: #fff;
    border: none;
    outline: none;
    margin-left: 5px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.btn-reset:hover{
    background: #555;
}
.contact-map iframe{
    width: 100%;
    min-height: 200px;
    max-height: 480px;
}
.contact-map p{
    margin: 0;
    line-height: 0;
}
/* end contact-from */
/* post-list */
.post-item{
    position: relative;
    padding-left: 240px;
    min-height: 170px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #c4c4c4;
}
.post-item img{
    position: absolute;
    top: 0;
    left: 0;
}
.post-title{
    font-size: 15px;
    margin:0 0 10px 0;
    color: #017035;
}
.post-title a{
    color: #292929;
}
.post-title a:hover{
    color: #69421f;
}
.post-excerpt{
    color: #292929;
    font-size: 13px;
    margin: 0;
}
/* end post-list */
.header-top{
    background: #f6f6f6;
    padding: 11px 0;
    font-size: 12px;
}
.header-center{
    background: #fff;
    padding: 20px 0;
}
.logo img{
    height: 66px;
}
.header-info{
    margin: 13px 0 0 80px;
}
.header-info p{
    float: left;
    margin: 0 50px 0 0;
    padding-left: 40px;
}
.header-info p:last-child{
    margin-right: 0;
}
.header-info p.header-address{
    background: url(../images/icon-address.png) no-repeat left center;
}
.header-info p.header-hotline{
    background: url(../images/icon-hotline.png) no-repeat left center;
}
.header-info p span{
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #282828;
}
.header-info p font{
    font-size: 14px;
    font-weight: 600;
    color: #cb2322;
}
.cart-mini-box{
    margin: 10px 0 0 0;
}
.cart-mini font:first-child{
    width: 24px;
    height: 23px;
    float: left;
    background: url(../images/icon-cart.png) no-repeat;
    margin-right: 5px;
}
.cart-mini span{
    width: 28px;
    height: 24px;
    float: left;
    background: url(../images/icon-num-cart.png) no-repeat;
    padding-left: 4px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    line-height: 24px;
    margin-bottom: 5px;
}
.cart-mini font:last-child{
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    color: #000;
}
.danh-muc-box{
    position: relative;
}
.danh-muc-btn{
    width: 240px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: url(../images/icon-danh-muc.png) no-repeat left 10px center #00679c;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
}
.danh-muc-box .danh-muc-menu{
    width: 100%;
    box-shadow: 0 0 1px #bbb;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 200;
    display: none;
}
.header-bottom{
    background: #cb2322;
}
.search-box{
    position: relative;
    margin: 4px 0 0 25px;
}
.txt-search{
    width: 455px;
    height: 32px;
    background: #fff;
    padding: 6px 90px 6px 10px;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
}
.btn-search{
    width: 80px;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    background: #00527c;
    border: none;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
}
.header-ky-thuat{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    margin: 12px 0 0 30px;
}
.header-sale{
    width: 190px;
    height: 40px;
    background: url(../images/img-sale.png) no-repeat;
}
.footer-top{
    background: #fff;
    padding-top: 30px;
}
.footer-top-left{
    width: 70%;
    float: left;
    padding-right: 20px;
}
.footer-top-right{
    width: 30%;
    float: left;
    padding-left: 10px;
}
.footer-box{
    margin-bottom: 30px;
}
.footer-title{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-small-title{
    font-size: 14px;
}
.footer-menu ul{
    margin: 0;
    list-style: none;
}
.footer-menu li{
    margin-bottom: 8px;
}
.footer-menu li:last-child{
    margin-bottom: 0;
}
.footer-menu li a{
    color: #000;
    position: relative;
    padding-left: 15px;
}
.footer-menu li a::before{
    content: "";
    width: 4px;
    height: 4px;
    background: #9f9f9f;
    position: absolute;
    top: 7px;
    left: 0;
}
.footer-menu li a:hover{
    color: #cb2322;
}
.footer-menu li a:hover::before{
    background: #cb2322;
}
.footer-info p{
    margin-bottom: 6px;
}
.footer-info a{
    color: #000;
}
.footer-info a:hover{
    color: #cb2322;
}
.social a{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 16px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.social a:last-child{
    margin-right: 0;
}
.social .social-facebook{
    background: #3c5a9a;
}
.social .social-facebook:hover{
    background: #1e4584;
}
.social .social-google{
    background: #cf2200;
}
.social .social-google:hover{
    background: #ac1c00;
}
.social .social-twitter{
    background: #00a2f6;
}
.social .social-twitter:hover{
    background: #0076b3;
}
.footer-payment-accept{
    margin-top: 40px;
}
.payment-accept-list{
    margin: 0 -5px;
}
.payment-accept-item{
    width: 25%;
    float: left;
    padding: 0 5px;
    margin-bottom: 10px;
}
.payment-accept-item:nth-child(4n+1){
    clear: both;
}
.payment-accept-img{
    width: 100%;
    height: 40px;
    border: 1px solid #f1f1f1;
    position: relative;
    overflow: hidden;
}
.payment-accept-img img{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.footer-bottom{
    background: #cb2322;
    padding: 16px 0;
    color: #fff;
    text-align: center;
}
.home-top{
    background: #cb2322;
}
.home-top-left{
    width: 20%;
    float: left;
}
.home-top-right{
    width: 80%;
    float: right;
}
.slideshow .item img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px;
    /*min-height: 120px;*/
}
.slideshow .owl-dots{
    position: absolute;
    bottom: 10px;
    width: 100%;
    line-height: 0;
}
.slideshow .owl-theme .owl-dots .owl-dot span{
    width: 13px;
    height: 13px;
    margin: 0 5px;
    background: #fff;
}
.slideshow .owl-theme .owl-dots .owl-dot.active span, .slideshow .owl-theme .owl-dots .owl-dot:hover span{
    background: #00527c;
}
.danh-muc-menu{
    position: relative;
    background: #f6f6f6;
}
.danh-muc-menu ul{
    margin: 0;
    list-style: none;
}
.danh-muc-menu > ul > li{
    border-bottom: 1px solid #f0f0f0;
}
.danh-muc-menu > ul > li:last-child{
    border-color: #f6f6f6;
}
.danh-muc-menu > ul > li > a{
    display: block;
    padding: 16px 10px 16px 20px;
    font-size: 12px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    position: relative;
}
.danh-muc-menu > ul > li > a::before{
    content: "";
    display: inline-block;
    width: 7px;
    height: 1px;
    background: #9c9c9c;
    position: absolute;
    right: 10px;
    top: 50%;
}
.danh-muc-menu > ul > li > a::after{
    content: "";
    display: inline-block;
    width: 7px;
    height: 1px;
    background: #9c9c9c;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.danh-muc-menu > ul > li > a:hover::after{
    display: none;
}
.danh-muc-menu li a:hover{
    color: #cb2322;
}
/* menu image */
.danh-muc-menu > ul > li > ul{
    width: 960px;
    background: #f6f6f6;
    box-shadow: 0px 0px 10px #ccc;
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 100;
    display: none;
}
.danh-muc-menu > ul > li:hover > ul{
    display: block;
}
.danh-muc-menu > ul > li > ul > li{
    display: block;
    width: 16.6%;
    float: left;
}
.danh-muc-menu > ul > li > ul > li:nth-child(6n+1){
    clear: both;
}
.danh-muc-menu > ul > li > ul > li:hover{
    background: #eee;
}
.danh-muc-menu > ul > li > ul > li > a{
    display: block;
    font-size: 12px;
    position: relative;
}
.danh-muc-menu > ul > li > ul > li > a > span{
    display: block;
}
.danh-muc-menu > ul > li > ul > li > a > span.img{
    height: 110px;
    position: relative;
}
.danh-muc-menu > ul > li > ul > li > a > span.img img{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} 
.danh-muc-menu > ul > li > ul > li > a > span.text{
    color: #000;
    text-align: center;
    padding: 0px 10px;
    margin-bottom: 5px;
    position: relative;
}
.danh-muc-menu > ul > li > ul > li:hover > a > span.text{
    color: #cb2322;
}
.home-bottom{
    background: #fff;
    padding: 5px 0;
}
.slider-doi-tac-img{
    height: 50px;
    position: relative;
}
.slider-doi-tac-item img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    width: auto !important;
}
#main-content{
    padding: 30px 0;
    background: aliceblue;
}
.box-content{
    background: #fff;
    padding: 20px;
}
.product-tax-content{
    padding: 20px 0;
}
.page-title{
    font-size: 18px;
    font-weight: 600;
    color: #00599f;
    text-transform: uppercase;
}
.product-tax-list{
    margin: 0 -5px;
}
.product-tax-item{
    width: 20%;
    float: left;
    padding: 0 5px;
    margin-bottom: 30px;
}
.product-tax-item:nth-child(5n+1){
    clear: both;
}
.product-tax-img{
    width: 100%;
    height: 120px;
    position: relative;
    overflow: hidden;
}
.product-tax-img a img{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.product-tax-info{
    padding: 15px 10px 0 10px;
    text-align: center;
}
.product-tax-item-title{
    font-size: 14px;
    margin-bottom: 0;
}
.product-tax-item-title a{
    font-weight: 500;
    color: #000;
}
.product-tax-item-title a:hover{
    color: #cb2322;
}
.content-left{
    width: 80%;
    float: left;
}
.sidebar{
    width: 20%;
    float: right;
    padding-left: 10px;
}
.product-tax-header{
    margin-bottom: 20px;
}
.product-tax-header .page-title{
    float: left;
    margin: 7px 0 0 0;
}
.sort-box{
    float: right;
}
.sort-select{
    min-width: 160px;
    float: left;
    position: relative;
    z-index: 10;
}
.sort-select span{
    display: block;
    height: 32px;
    background: url(../images/icon-select.png) no-repeat right 10px center #fff;
    padding: 0 25px 10px 10px;
    border: solid 1px #ddd;
    font-size: 13px;
    color: #000;
    line-height: 30px;
}
.sort-select ul{
    margin: 0;
    list-style: none;
    background: #fff;
    padding: 5px 10px;
    border: solid 1px #ddd;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    z-index: 99;
    display: none;
}
.sort-select:hover ul{
    display: block;
}
.sort-select li a{
    font-size: 12px;
    color: #000;
}
.sort-select li a:hover{
    color: #cb2322;
}
.product-list .row{
    margin: 0 -5px;
}
.product-item{
    padding: 0 5px;
    margin-bottom: 10px;
}
.product-item:nth-child(4n+1){
    clear: both;
}
.product-box{
    background: #fff;
}
.product-img{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.product-img a img{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.icon-label{
    position: absolute;
    top: 0;
    right: 0;
}
.icon-sale{
    width: 40px;
    height: 40px;
    background: url(../images/bg-sale.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
.product-info{
    padding: 0 20px 15px 20px;
}
.product-title{
    font-size: 13px;
    line-height: 1.5;
    height: 38px;
    overflow: hidden;
    margin-bottom: 10px;
}
.product-title a{
    color: #000;
}
.product-title a:hover{
    color: #cb2322;
}
.product-price p{
    margin: 0;
    display: inline-block;
}
.product-price .gia{
    font-size: 14px;
    font-weight: 600;
    color: #ff0000;
    margin-right: 5px;
}
.product-price .gia-cu{
    font-size: 12px;
    color: #888;
    text-decoration: line-through;
}
.sidebar-widget{
    margin-bottom: 20px;
}
.widget-title{
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    background: #00599f;
    padding: 10px 10px 9px 10px;
    margin-bottom: 0;
}
.widget-sub{
    background: #fff;
    padding: 15px 10px;
}
.filter-menu ul{
    margin: 0;
    list-style: none;
}
.filter-menu > ul > li > a{
    font-size: 12px;
    font-weight: 700;
    color: #d10a00;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #ff0000;
    padding-bottom: 10px;
}
.filter-menu ul li ul{
    margin: 10px 0 20px 0;
    max-height: 253px;
    overflow: hidden;
}
.filter-menu ul li ul li{
    margin-bottom: 8px;
}
.filter-menu ul li ul li:last-child{
    margin-bottom: 0;
}
.filter-menu ul li ul li a{
    font-size: 12px;
    color: #000;
    background: url(../images/checkbox-uncheck.png) no-repeat left top 2px;
    padding-left: 20px;
}
.filter-menu ul li ul li a.active{
    background: url(../images/checkbox-checked.png) no-repeat left top 2px;
}
.product-top{
    padding-bottom: 40px;
}
.product-left{
    width: 45%;
    float: left;
}
.product-right{
    width: 55%;
    float: left;
    padding-left: 25px;
}
.product-slider .img-main{
    width: 100%;
    height: 400px;
    position: relative;
}
.product-slider .img-main img{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
}
.product-thumnail-list{
    margin-top: 10px;
    position: relative;
}
.product-thumnail{
    padding: 0 15px;
}
.product-thumnail .item{
    height: 70px;
    border: 1px solid #e0e0e0;
}
.product-thumnail img{
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    width: inherit !important;
}
.owl-prev-product{
    width: 8px;
    height: 25px;
    background: url(../images/btn-prev.png) no-repeat;
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    z-index: 20;
}
.owl-prev-product:hover{
    background: url(../images/btn-prev-hover.png) no-repeat;
}
.owl-next-product{
    width: 8px;
    height: 25px;
    background: url(../images/btn-next.png) no-repeat;
    position: absolute;
    top: calc(50% - 12px);
    right: 0;
    z-index: 20;
}
.owl-next-product:hover{
    background: url(../images/btn-next-hover.png) no-repeat;
}
.product-single-title{
    font-size: 18px;
    font-weight: 500;
    color: #00599f;
    margin-bottom: 10px;
}
.product-single-price .gia{
    font-size: 22px;
    margin-right: 10px;
}
.product-single-price .gia-cu{
    font-size: 14px;
}
.product-parameter{
    margin-top: 15px;
}
.product-parameter p{
    margin-bottom: 0;
}
.product-address{
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 0;
    margin: 15px 0;
}
.product-address p{
    margin-bottom: 6px;
}
.product-address p:last-child{
    margin-bottom: 0;
}
.product-address .product-info-title{
    margin-bottom: 10px;
}
.product-info-title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.product-hotline-item{
    margin-bottom: 20px;
}
.product-hotline-item:last-child{
    margin-bottom: 0;
}
.product-hotline-item p{
    margin-bottom: 0;
}
.product-hotline-item .product-info-title{
    margin-bottom: 5px;
}
.product-hotline-list{
    font-size: 17px;
    font-weight: 600;
    color: #d4281e;
}
.product-ky-thuat-list{
    font-size: 17px;
    font-weight: 600;
    color: #000;
}
.product-btn{
    margin: 20px -5px 0 -5px;
}
.product-btn-left{
    width: 50%;
    float: left;
    padding: 0 5px;
}
.product-btn-right{
    width: 50%;
    float: left;
    padding: 0 5px;
}
.product-btn a{
    display: block;
    width: 100%;
    height: 45px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 10px;
}
.product-btn .btn-add-cart{
    background: #d4281e;
}
.product-btn .btn-add-cart:hover{
    background: #a90000;
}
.product-bottom{
    margin-top: 30px;
}
.product-single-box-title{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.product-comment{
    margin-top: 20px;
}
.product-comment-header{
    border-bottom: 1px solid #cacaca;
    padding-bottom: 10px;
}
.product-comment-title{
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #080808;
    text-transform: uppercase;
    margin: 4px 0 0 0;
}
.product-like{
    float: right;
}
.widget-sub-title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #343434;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.widget-similar-product ul{
    margin: 0;
    list-style: none;
}
.widget-similar-product li{
    position: relative;
    padding-left: 100px;
    min-height: 85px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
}
.widget-similar-product li:last-child{
    min-height: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}
.widget-product-img{
    width: 90px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
}
.widget-product-img img{
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.widget-product-title{
    margin-bottom: 10px;
}
.widget-product-title a{
    color: #000;
}
.widget-product-title a:hover{
    color: #cb2322;
}
/* Checkout */
.customer-title{
    margin: 0 0 10px 0;
    color: #292929;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background: url(../images/icon-nhan-hang.png) no-repeat left top 0px;
    padding: 7px 0 5px 25px;
}
.customer-form{
    padding: 20px 20px 12px 20px;
    border: 1px solid #dbdbdb;
}
.customer-form .form-group{
    margin-bottom: 13px;
}
.customer-form textarea.form-control{
    height: 80px !important;
}
.cart-submit{
    width: 125px;
    height: 30px;
    border: none;
    margin: auto;
    display: block;
    text-transform: uppercase;
}
.gio-hang-title{
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 10px 8px 10px;
    margin: 0;
    border-bottom: 1px dashed #d1d1d1;
}
.cart-box{
    background: #f5f5f5;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    color: #000;
}
.cart-item{
    position: relative;
    padding: 12px 100px 12px 15px;
    min-height: 104px;
    border-bottom: 1px dashed #d1d1d1;
}
.cart-img{
    border: 1px solid #e9e9e9;
    position: absolute;
    top: 12px;
    right: 9px;
}
.cart-title{
    margin: 5px 0 5px 0;
    font-size: 12px;
    font-weight: bold;
    color: #151515;
    text-transform: uppercase;
}
.cart-box .cart-qty{
    width: 27px;
    height: 27px;
    border-radius: 3px;
    border: 1px solid #cecece;
    text-align: center;
    margin-left: 8px;
}
.cart-total{
    color: #ff0000;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    text-align: right;
    padding: 6px 15px;
    border-bottom: 1px dashed #d1d1d1;
}
.cart-bottom{
    text-align: right;
    padding: 10px;
}
.btn-remove-cart{
    color: #131313;
    font-size: 14px;
    font-weight: bold;
    background: url(../images/bg-cart-delete.png) right top no-repeat;
    padding: 5px 35px 6px 0;
    display: inline-block;
}
.btn-remove-cart:hover{
    color: red;
}
.cart-buy{
    color: #353535;
    font-size: 16px;
    font-weight: bold;
}
.cart-buy:hover{
    color: #000;
}
.btn-delete-cart{
    position: absolute;
    top: 0;
    right: 0;
}
.btn-delete-cart img{
    width: 20px;
    height: 20px;
}
.cart-empty{
    padding: 10px;
    text-align: center;
}
.cart-empty p{
    margin: 0;
}
/* Checkout */
#banner{
    margin-top: 10px;
}
#banner img{
    width: 100%;
    height: auto;
    min-height: 120px;
}
.product-list-5 .product-item{
    width: 20%;
}
.product-list-5 .product-item:nth-child(4n+1){
    clear: inherit;
}
.product-list-5 .product-item:nth-child(5n+1){
    clear: both;
}
.widget-page-menu .widget-sub-title{
    font-size: 12px;
    color: #cb2322;
    border-bottom: 1px solid #d1d1d1;
}
.page-menu-item{
    margin-bottom: 20px;
}
.page-menu-item:last-child{
    margin-bottom: 0;
}
.page-menu ul{
    margin: 0;
    list-style: none;
}
.page-menu li{
    margin-bottom: 8px;
}
.page-menu li:last-child{
    margin-bottom: 0;
}
.page-menu li a{
    color: #000;
    position: relative;
    padding-left: 15px;
}
.page-menu li a::before{
    content: "";
    width: 4px;
    height: 4px;
    background: #9f9f9f;
    position: absolute;
    top: 7px;
    left: 0;
}
.page-menu li a:hover{
    color: #cb2322;
}
.page-menu li a:hover::before{
    background: #cb2322;
}
.home-box{
    margin-bottom: 20px;
}
/* zing tab */
.tab-header{
    width: 100%;
    float: left;
}
.tab-header ul{
    margin: 0;
    list-style: none;
}
.tab-header li{
    float: left;
}
.tab:not(:first-child){
    display: none;
}
/* zing tab */
.product-tab .tab-header{
    background: #fff;
    border-bottom: 1px solid #d10a00;
}
.product-tab .tab-header li a{
    display: block;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 700;
    color: #636363;
    text-transform: uppercase;
}
.product-tab .tab-header li a.active{
    background: #d10a00;
    color: #fff;
}
.product-tab .tab-content{
    padding-top: 10px;
}
.home-product-left{
    width: 40%;
    float: left;
    padding-right: 5px;
}
.home-product-right{
    width: 60%;
    float: left;
    padding-left: 5px;
}
.home-product-left .product-item{
    padding: 0;
}
.home-product-left .product-img{
    height: 400px;
}
.home-product-left .icon-sale{
    width: 50px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}
.home-product-left .product-info{
    min-height: 178px;
}
.home-product-left .product-title{
    font-size: 15px;
    height: auto;
}
.home-product-left .product-title a{
    font-weight: 500;
}
.home-product-left .product-price .gia{
    font-size: 16px;
}
.product-list-3 .product-item{
    width: 33.33%;
}
.product-list-3 .product-item:nth-child(4n+1){
    clear: inherit;
}
.product-list-3 .product-item:nth-child(3n+1){
    clear: both;
}
.product-excerpt{
    color: #444;
    height: 76px;
    overflow: hidden;
    margin: 10px 0 0 0;
}
.home-product-header{
    background: #cb2322;
}
.home-box-title{
    float: left;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: url(../images/icon1.png) no-repeat right center #d10a00;
    padding: 11px 30px 11px 20px;
    min-width: 240px;
    margin-bottom: 0;
}
.btn-xem-tat-ca{
    float: right;
    width: 85px;
    height: 22px;
    background: #fff;
    border-radius: 3px;
    font-size: 12px;
    color: #ff0606 !important;
    text-align: center;
    line-height: 22px;
    margin: 9px 10px 0 0;
}
.home-product-tax-left{
    width: 20%;
    float: left;
    padding-right: 10px;
}
.home-product-tax-right{
    width: 80%;
    float: left;
}
.home-product-tax-left-inner{
    background: #fff;
    height: 578px;
    padding: 15px 12px 15px 20px;
}
.home-product-tax-menu ul{
    margin: 0;
    list-style: none;
    max-height: 539px;
    overflow: hidden;
}
.home-product-tax-menu li{
    margin-bottom: 8px;
}
.home-product-tax-menu li:last-child{
    margin-bottom: 0;
}
.home-product-tax-menu li a{
    font-size: 12px;
    font-weight: 600;
    color: #595959;
    position: relative;
    padding-left: 15px;
}
.home-product-tax-menu li a::before{
    content: "";
    width: 4px;
    height: 4px;
    background: #9f9f9f;
    position: absolute;
    top: 6px;
    left: 0;
}
.home-product-tax-menu li a:hover{
    color: #cb2322;
}
.home-product-tax-menu li a:hover::before{
    background: #cb2322;
}
.home-box-product-tab .tab-content{
    position: relative;
}
.home-box-product-tab .btn-xem-tat-ca{
    background: #cb2322;
    color: #fff !important;
    margin: 0;
    position: absolute;
    top: -32px;
    right: 10px;
}
.product-similar{
    margin-top: 30px;
}

