@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width: 1200px){
	
}
@media (min-width: 1300px){
	.container{
		width: 1230px;
	}
}

@media (max-width: 1199px){
	
}
@media (min-width: 991px){
	.main-menu-mobile{
        display: none;
    }
    
}
@media (max-width: 767px){
	.home-top .container{
	    padding: 0;
	}
	.row{
	    margin: 0 -10px;
	}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	    padding: 0 10px;
	}
	.contact-map iframe{
	    height: auto;
	    min-height: 300px;
	}
}
@media (max-width: 640px){
	.form-left{
		width: 100%;
		float: none;
		padding-right: 0;
	}
	.form-right{
		width: 100%;
		float: none;
		padding-left: 0;
		margin-top: 15px;
	}
	.contact-form .col-3{
		width: 100%;
		margin-top: 15px;
	}
	.contact-form .col-3:first-child{
		margin-top: 0;
	}
}
@media (max-width: 480px){
	.suggest-box, .suggest-item{
		width: 100%;
	}
}
@media (max-width: 320px){
	
}

@media only screen and (min-width: 900px) {
    a.sanPhamKhuyeMai:before {
        content: "Sản phẩm";
    }
    a.sanPhamBanChay:before {
        content: "Sản phẩm";
    }
    a.sanPhamMoi:before {
        content: "Sản phẩm";
    }
}
/* custome css style  */
@media only screen and (max-width: 900px) {
    .sanPhamKhuyenMai:before {
        content: "KHUYẾN MẠI";
    }
    .fleft.header-info {
		display: none;
    }
    a.button.btn-xem-tat-ca {
        display: none;
    }
	.fright.cart-mini-box {
		display: none;
	}
    .header-bottom{
        display: none;
    }
    .home-top-left{
        display: none;

    }
    .home-top-right{
        width: 100%;
    }
    .home-top-right{
        width: 100%;
    }
    .tab-header {
        width: 100%;
    }
    .tab-header ul li {
        width: 33,33%;
        float: left;
    }
    .home-product-tax-left {
        display: none;
    }

    .home-product-tax-right {
        width: 100%;
    }
    .home-product-left {
        display: none;
    }
    
    .home-product-right {
        width: 100%;
    }

    .home-product-left {
        display: none;
    }
    
    .home-product-right {
        width: 100%;
    }
    
    .footer-top-left {
        width: 100%;
    }
    
    .footer-sub.zing-content {
        display: none;
    }
    
    .footer-top-right {
        width: 100%;
        text-align: center;
    }
    
    .col-md-8.footer-box {
        text-align: center;
    }
    .product-price {
        display: block;
    }
    .header-top{
        text-align: center;
    }
    .content-left {
        width: 100%;
        float: right;
    }
    
    .sidebar {
        width: 100%;
        padding: 0;
    }
    .cart-mini-box {
        padding-left: 15px;
    }
    .logo img{
        height: 40px;
    }

    .product-left {
        width: 100%;
    }
    
    .product-right {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    
    .img-main img {
        width: 50%;
    }
    .col-md-4.footer-box {
        text-align: center;
    }
    .box-login-logout {
        padding: 5px 0px;
    }
    .container {
        padding: 0 !important;
    }
    .fleft.logo {
        width: 100%;
        text-align: center;
    }

    .main-menu-left {
        width: 70%;
        float: left;
    }
    
    .main-menu-mobile {
        width: 100%;
        height: 39px;
        background: #cb2322;
        display: flex;
    }
    
    .main-menu-right {
        width: 30%;
        float: left;
    }
    
    .main-menu-right ul{
        float: right;
    }
    

    .main-menu-right ul li {
        display: flex;
        float: left;
    }
    
    .main-menu-right ul li button {
        background: none;
        border: none;
        color: #ffff;
    }
    
    i.fa.fa-tags, i.fa.fa-shopping-cart,i.fa.fa-search  {
        color: #ffff;
        padding: 10px 10px ;
        font-size: 18px;
    }
    .main-menu-right ul {float: right;}
    .search-box-pro.search-box-active {
        padding: 10px 0px;
        height: 52px;
    }
    
    input.txt-search {border: 1px solid darkolivegreen;}

    /*  */
    .menu-btn-show {
        top: 9px !important;
        float: left !important;
        height: 39px;
    }
    
    .main-menu-left {
        position: relative;
    }

    .search-box-pro .btn-search {
        margin-right: 2%;
        margin-right: 2%;
    }
    button.button.btn-search {
        height: 32px;
    }
    .search-box-pro.search-box-active input {
        width: 96% !important;
    }
}
